@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --primary: #111727;
  --primary_dark: #00001a;
  --secondary: #202938;
  --border: #303946;
  --chips: #333949;
}

body {
  background-color: var(--primary);
  color: #c7c9ca;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0 16px;
  width: 100vw;
  overflow: scroll;
}
.showData {
  width: 100%;
}
/*  Table  */
table {
  border-collapse: collapse;
  background-color: var(--primary);
  border-radius: 19px;
  margin: auto auto;
}
th, td {
  border-collapse: collapse;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1.2px solid var(--border);
  vertical-align: text-top;
}
td:first-child {
  border-left: 1.2px solid var(--border);
  display: flex;
  justify-content: space-between;
}
td:last-child {
  border-right: 1.2px solid var(--border);
}
th {
  padding: 20px 16px;
  border-top: 1.2px solid var(--border);
  letter-spacing: 0.1px;
  margin: 0;
}
th:first-child {
  border-left: 1.2px solid var(--border);
}
td:last-child {
  border-right: 1.2px solid var(--border);
}

/* Chips */
/*td:nth-child(2) .chips_container{
    
}*/
td:nth-child(2) .chips_container .chip {
  background-color: var(--chips);
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 6px;
  margin-right: 6px;
}

.table_header {
  background-color: var(--secondary);
  font-size: 10px;
  text-transform: uppercase;
  color: #6b7581;
  font-weight: 600;
  border-bottom: 1.2px solid var(--border);
  height: 100%;
}
td {
  padding: 16px 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
tr {
  transition: all 0.2s;
}
tr:hover {
  background-color: var(--secondary);
}
.material-icons {
  font-size: 18px;
  margin-right: 6px;
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }
}

ol {
  margin: 0;
}
